
@font-face {
    font-family: AmazonType;
    src: url(Amazon-Ember-Medium.ttf);
    }
@font-face {
    font-family: AmazonLT;
    src: url(AmazonEmber_Lt.ttf);
}

* {
    font-family: AmazonLT;
    margin: 0px;
}

header {
    text-align: center;
}

body {
    text-align: center;    
}

.form {
    text-align: left;
    margin-bottom: 25px;
}

.box1 {
    border: .3px solid lightgray;
    border-radius: 1%;
    width: 350px;
    height: 300px;
    margin: auto;
    margin-bottom: 45px;
    padding: 10px;
}

.box {
    border: .3px solid lightgray;
    border-radius: 1%;
    width: 400px;
    height: 350px;
    margin: auto;
    padding: 65px;
}

.signin {
    padding-left: 1vw;
}

#signin {
    color:black;
    text-align: left;
    margin-bottom: 3vh;
}

.form1-style > label {
    font-size: small;
}
.form2-style > label {
    font-size: small;
    padding-left: 3vw;
}

.box-inner {
    text-align: left;
}

form > input {
    width: 320px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form > a {
    position: absolute;
    margin-left: 10vw;
}

.link {
    text-decoration: none;
    color: blue;
}

/* button styles */
#button-continue {
    background-color: orange;
    color: black;
    border: 1px solix lightgray;
    border-radius: 2px;
    text-align: center;
    height: 25px;
    width: 327px;
}

#button-create-account {
    background-color: lightgrey;
    color: black;
    border: 1px solix black;
    text-align: center;
    height: 25px;
    width: 327px;
}


#forgotpassword {
    text-decoration: none;
    color: rgb(90, 113, 227);
    font-size: smaller;
}

.needhelplink > a {
    text-decoration: none;
    color: rgb(90, 113, 227);
    font-size: smaller;
    margin-right: 19vw;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.footer-links {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-links > a {
    font-size: x-small;
    color: rgb(90, 113, 227);
}

.linebehindtext {
    position: fixed;
    bottom: 25vh;
    width: 100%;
    text-align: center;
    font-size: smaller;
}


span {
    border-top: 1px solid gray;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 5px;
    align-items: center;
}


/* p.linebehindtext::after {

} */