
@font-face {
    font-family: AmazonType;
    src: url(Amazon-Ember-Medium.ttf);
    }
@font-face {
    font-family: AmazonLT;
    src: url(AmazonEmber_Lt.ttf);
}

* {
    font-family: AmazonLT;
    margin: 0px;
}

header {
    text-align: center;
}

body {
    text-align: center;    
}

.form {
    text-align: left;
    margin-bottom: 25px;
    padding: 5px;
}

.box1 {
    border: .3px solid lightgray;
    border-radius: 1%;
    width: 350px;
    height: 300px;
    margin: auto;
    margin-bottom: 1rem;
    padding: 5px;
}

.box {
    border: .3px solid lightgray;
    border-radius: 1%;
    width: 400px;
    height: 350px;
    margin: auto;
    padding: 65px;
}

.signin {
    padding-left: 1vw;
}

#signin {
    color:black;
    text-align: left;
    margin-bottom: .5rem;
}

.form1-style > label {
    font-size: small;
}


#pass-spacing {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
}
#pass-spacing > label {
    font-size: small;
}


.box-inner {
    text-align: left;
}



form > input {
    width: 19rem;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 11px;
}

form > a {
    position: absolute;
    margin-left: 10vw;
}

.link {
    text-decoration: none;
    color: blue;
}

/* button styles */
#button-continue {
    background-color: orange;
    color: black;
    border: 1px solix lightgray;
    border-radius: 2px;
    text-align: center;
    height: 25px;
    width: 327px;
}

#button-create-account {
    background-color: lightgrey;
    color: black;
    border: 1px solix black;
    text-align: center;
    height: 25px;
    width: 327px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


#forgotpassword {
    text-decoration: none;
    color: rgb(90, 113, 227);
    font-size: smaller;
}

.needhelplink > a {
    text-decoration: none;
    color: rgb(90, 113, 227);
    font-size: smaller;
    padding-right: 15rem;
}

.footer {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 7rem;
}

.footer-links {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-links > a {
    font-size: x-small;
    color: rgb(90, 113, 227);
}


.linebehind {
    position: relative;
    width: 350px;
    font-size: smaller;
    margin: auto;
}

h4 {
    background-color: #fff;
    display: inline-block;
    padding-left: .5rem;
    padding-right:  .5rem;
}

span {
    content: " ";
    border-top: 1px solid gray;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
}


/* background-color: #fff; */